
    body {      
        background-image: url('image.jpeg');
            background-repeat: no-repeat;
            background-size: cover;       
       
}


.container {
    margin-left: 320px;
    margin-top: 200px;
    max-width: 600px;
    padding: 20px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 15px;
   
}

form {
    font-style: oblique;
    display: flex;
    flex-direction: column;
}

label {
    line-height: 1.5;
    margin-bottom: 5px;
}

#submit{
    margin-top: 10px;
    background-color: blue; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease;
  }
